{% extends 'main.html' %}
{% load static %}
{% block content %}

    <h4 class="mt-3 display-6">Welcome to Kabul University</h4>
    <p class="font-size-18" style="font-size: 18px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi aliquam earum enim, praesentium vero ex vitae assumenda, <span class="text-danger">debitis ad doloribus fuga nobis excepturi suscipit nesciunt impedit!</span> Culpa aliquam beatae asperiores!</p>
    <hr>
    <div class="row mt-3 px-2 my-3">
        <div class="col-lg-9">
            <h5>Journal Title</h5>
            <p class="mt-1" style="text-align: justify;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui temporibus nemo omnis corporis est. Cumque odio, nam voluptatibus iure sit, vel optio eos, sed ipsa delectus porro doloribus ratione laborum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui temporibus nemo omnis corporis est. Cumque odio, nam voluptatibus iure sit, vel optio eos, sed ipsa delectus porro doloribus ratione laborum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui temporibus nemo omnis corporis est. Cumque odio, nam voluptatibus iure sit, vel optio eos, sed ipsa delectus porro doloribus ratione laborum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui temporibus nemo omnis corporis est. Cumque odio, nam voluptatibus iure sit, vel optio eos, sed ipsa delectus porro doloribus ratione laborum.
            </p>
        </div>
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-4">
                    <button class="btn btn-outline-default">
                        <i class="fa-solid fa-bookmark text-primary" style="font-size: 30px;"></i>
                        <p class="" style="text-align: center;">0</p>

                    </button>
                </div>
                <div class="col-lg-4">
                    <button class="btn btn-outline-default">
                        <i class="fa-solid fa-thumbs-up text-info" style="font-size: 30px;">
                        </i>
                        <p style="text-align: center;">0</p>
                    </button>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
        
    </div>


{% endblock content %}