{% load static %}

<!-- Navbar -->
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2" href="https://mdbgo.com/">
        <img
          src="{% static 'images/kabul.png' %}"
          height="44"
          alt="MDB Logo"
          loading="lazy"
          style="margin-top: -1px;"
        />
      </a>
  
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarButtonsExample"
        aria-controls="navbarButtonsExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home
                <i class="fa-solid fa-house mx-1"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Journals
                <i class="fa-solid fa-book mx-1"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Team
                <i class="fa-solid fa-user-group mx-1"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us
                <i class="fa-solid fa-address-card mx-1"></i>
            </a>
          </li>
        </ul>
        <!-- Left links -->
  
        <div class="d-flex align-items-center">
          <button type="button" class="btn btn-light px-3 mx-2">
            Login
            <i class="fa-solid fa-right-to-bracket "></i>
          </button>
          <button type="button" class="btn btn-primary me-3">
            Sign up for free
            <i class="fa-solid fa-user-plus"></i>
          </button>
          <a
            class="btn btn-dark px-3"
            href="https://github.com/mdbootstrap/mdb-ui-kit"
            role="button"
            ><i class="fa-brands fa-whatsapp " style="font-size: 24px;"></i></a>
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
  <!-- Navbar -->